[Desktop Entry]
Type=DUIApplet
Name=Skeleton
Icon=
Exec=
X-logical-id=qtn_sett_main_display
X-translation-catalog=skeletonapplet1,skeletonapplet2

[DUI]
X-DUIApplet-Applet=libdcpskeletonapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_weather.png
X-DUIApplet-ImagePortrait=Widget_portrait_weather.png

[DCP]
Category= Look & Feel
Order=4
WidgetType= DcpLabel2

