[Desktop Entry]
Type=DUIApplet
Name=TestApplet
Icon=
Exec=
X-logical-id=qtn_sett_main_display
X-translation-catalog=duisettings

[DUI]
X-DUIApplet-Applet=libtestapplet.so

[DCP]
Category= Look & Feel
Order=1
WidgetType= DcpLabel

