[Desktop Entry]
Type=DUIApplet
Name=Display language
X-logical-id=qtn_sett_main_language
X-translation-catalog=duisettings

Icon=
Exec=

[DUI]
X-DUIApplet-Applet=liblanguageapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_weather.png
X-DUIApplet-ImagePortrait=Widget_portrait_weather.png

[DCP]
Category= Startup
Part=Display
Order=3
WidgetType= DcpLabel2
Text1=Display language
Text2=English GB

ValuePath= Maemo/DuiInputMethod/language/current
