[Desktop Entry]
Type=DUIApplet
Name=Unresolved symbol applet
Icon=
Exec=
X-logical-id=qtn_sett_unresolved
X-translation-catalog=

[DUI]
X-DUIApplet-Applet=libdcpbadapplet3.so

[DCP]
Category=Examples
Order=4

