[Desktop Entry]
Type=ControlPanelApplet
Name=Qml Simple Applet Example
X-logical-id=qml_example_title
X-translation-catalog=
Icon=

# This has to be specified in order that the .desktop file can also be
# used as an action (for example for search to know how to
# open the applet)
X-Maemo-Service=com.nokia.DuiControlPanel
X-Maemo-Method=com.nokia.DuiControlPanelIf.appletPage
X-Maemo-Object-Path=/
# this has to be the same as Name
X-Maemo-Fixed-Args=Qml Simple Applet Example

[DUI]
X-DUIApplet-Applet=qml

[DCP]
# Category= Applications
Category=Examples
Order=0

# The applet specifies here the path to its main item:
Part=/usr/share/duicontrolpanel/qml-example/qmlexample1.qml

# The applet can force running inprocess with specifying this
# Note however, if it does so, it will not be able to extend its capabilities
# through libraries from untrusted source:
# ForceInProcessBrief=1

