[Desktop Entry]
Type=DUIApplet
Name=Profile
X-logical-id=qtn_sett_main_profile
X-translation-catalog=duisettings
Icon=
Exec=

[DUI]
X-DUIApplet-Applet=libexampleapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_weather.png
X-DUIApplet-ImagePortrait=Widget_portrait_weather.png

[DCP]
Category= Sound
Order=2
WidgetType= DcpLabel2
Text2= Ringing

