#LabelBrightness {
        color: #FFFFFF;
        font: font("Nokia Sans Cn", 16);
}

#LabelScreen {
        color: #FFFFFF;
        font: font("Nokia Sans Cn", 16);
}

#LabelScreenLight {
        color: #FFFFFF;
        font: font("Nokia Sans Cn", 16);
}

#ScreenToggleButton {
        preferredSize: size(35, 35);

        minsize: size(35, 35);
        maxsize: size(35, 35);

        normalBackground: "Toggle-on";
        pressedBackground: "Toggle-off";
}
