
.MonthWidget {
	view: MonthWidgetFullView;
}


DuiLabelStyle {
    font: font(Nokia Sans Cn, 12);
    color: #FFFFFF;
}

#ComponentDescription {
    font: font(Nokia Sans Cn, 16);
    margin-left: 20;
    margin-right: 20;
    margin-top: 12;
    margin-bottom: 15;
    color: #FFA000;

/*    minimum-size: size(200, 300); TODO */
}

#DuiContainerTitle {
    font: font(Nokia Sans Cn, 20);
    margin-left: 19;
    margin-right: 19;
    margin-bottom: 6;
    margin-top: 6;
}

DuiAbstractLayoutPolicyStyle#MostUsedItems {
    margin-left: 10.0;
    margin-right: 10.0;
    margin-bottom: 6.0;
    margin-top: 6.0;

    horizontal-spacing: 12.0;
    vertical-spacing: 10.0;
}

DuiContainerStyle {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    icon-size: size(1,1);

/*    titlebar-background: "";  TODO */
}


DuiApplicationPageStyle {
    padding-left: 12;
    padding-right: 12;
}

DuiApplicationPageStyle.Landscape {
    background-image: scalable(starfield, 0, 0, 0, 0);
}

DuiApplicationPageStyle.Portrait {
    background-image: scalable(starfield, 0, 0, 0, 0);
}


/*
DuiNavigationBarStyle {
	background-image: scalable(Top-bar-landscape, 0,0,0,0);
}
*/


#DcpButton {
    normal-background-image: scalable(C2-container,0,0,0,0);
/*    in current design the button has no background: */
/*    normal-background-image: ;
    normal-color: #000000;
    normal-opacity: 0.0; */

    /* this sets the height of the button fixed: */
    minimum-size: size(1,93);
    maximum-size: size(999,93);
    preferred-size: size(840,93);

    padding-top: 12;
    padding-bottom: 12;
    padding-left: 4;
    padding-right: 8;
}

DuiLabelStyle#DcpButtonMain {
    font: font(Nokia Sans Cn, 20);
}

DuiLabelStyle#DcpButtonLine1 {
    font: font(Nokia Sans Cn, 18);
}

DuiLabelStyle#DcpButtonLine2 {
    font: font(Nokia Sans Cn, 16);
/*    minimum-size: size(200,12); */
    color: #FFA000;
}

DuiImageStyle {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

#DcpSeeMoreIndicator {
    normal-background-image: scalable(See-more-indicator-small,0,0,0,0);
    minimum-size: size(16, 16);
    maximum-size: size(16, 16);
    margin-left: 8;
/*    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0; */
}

DuiButtonStyle#DcpButtonImageBorder {
    maximum-size: size(64, 64);
    minimum-size: size(64, 64);
/*    icon-size: size(62, 62); */
    normal-background-image: scalable(Thumbnail-frame, 10, 10, 10, 10);

    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

DuiImageStyle#DcpButtonImage {
    maximum-size: size(62, 62);
    minimum-size: size(62, 62);

    /* TODO remove this once AlignCenter of the layoutpolicy works correctly */
    margin-left: 1;
    margin-top: 1;
    margin-right: 0;
    margin-bottom: 0;
}

DuiButtonStyle#DcpButtonToggle {
    normal-background-image: scalable(Toggle-off, 0,0,0,0);
    pressed-background-image: scalable(Toggle-on, 0,0,0,0);
    maximum-size: size(64, 64);
    minimum-size: size(64, 64);
}

#DcpCommonDialogTitleLabel {
   color: #FFFFFF;
   margin-top: 0;
   font: font(Nokia Sans Cn, 18);
}

#DcpCommonDialogContainer {
    margin-left: 20;
    margin-right: 20;
}

DuiSeparatorStyle {
    image-horizontal: "Mashup-cont-header-line";
}

DuiSeparatorStyle#DcpSmallSeparator {
    image-horizontal: "Task-switcher-background-bottom-lines";
}

