[Desktop Entry]
Type=DUIApplet
Name=Example External Application
Icon=
Exec=
X-logical-id=duicontrolpanel_example_applet
X-translation-catalog=duisettings

[DUI]
#
# The plugin binary file. Not used in this example.
#
#X-DUIApplet-Applet=libXXX.so
X-DUIApplet-ImageLandscape=Widget_landscape_weather.png
X-DUIApplet-ImagePortrait=Widget_portrait_weather.png
#
# Not implemented yet.
#
X-DUIApplet-Dslfile=trythisone.xml
#
# If this property is declared, and the applet is not loaded using the 
# X-DUIApplet-Applet property, the command will be executed when the 
# user activates the plugin in the control panel.
#
X-DUIApplet-ApplicationCommand=widgetsgallery

[DCP]
Category= Look & Feel
Order=3
WidgetType= DcpLabel2

