Source: duicontrolpanel
Section: devel
Priority: extra
Maintainer: Robert Manner <robert.manner@blumsoft.eu>
Build-Depends: debhelper (>= 5), libmeegotouch-dev (>= 0.20), doxygen, clean-device-dev
Standards-Version: 3.7.2

Package: libduicontrolpanel
Section: libs
Replaces: libduicontrolpanel-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library for the control panel application and its applets

Package: libduicontrolpanel-dev
Section: devel
Architecture: any
Depends: libduicontrolpanel (= ${Source-Version}), libmeegotouch-dev (>= 0.20)
Description: Development files for the control panel application and its applets

Package: duicontrolpanel
Section: x11
Architecture: any
# removed: duicontrolpanel-l10n-fake (= ${Source-Version}),
Depends: ${shlibs:Depends}, ${misc:Depends}, libduicontrolpanel (= ${Source-Version}), duicontrolpanel-l10n-engineering-english (= ${Source-Version})
Description: Control Panel

Package: duicontrolpanel-dbg
Section: devel
Architecture: any
Depends: duicontrolpanel (= ${binary:Version})
Description: Control Panel - debug symbols

Package: libduicontrolpanel-doc
Section: doc
Architecture: all
Description: API documentation for libduicontrolpanel

Package: duicontrolpanel-tests
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, duicontrolpanel (= ${Source-Version}), libqtgui4, meegotestrunner
XB-Maemo-CI-Packages: duicontrolpanel
XB-Maemo-CI-Stage: fast, staging
Description: libduicontrolpanel unit tests
 Functional and Unit testing binaries and shellscripts for testing duicontrolpanel / libduicontrolpanel library

Package: duicontrolpanel-l10n-engineering-english
Section: devel
Architecture: any
Enhances: duicontrolpanel
Description: Engineering English translations for duicontrolpanel

#
# Removed because the fake package could not be installed. 
#
Package: duicontrolpanel-l10n-fake
Section: misc
Architecture: any
Conflicts: duicontrolpanel-l10n, duicontrolpanel-l10n-fi-fi, duicontrolpanel-l10n-en-gb, duicontrolpanel-l10n-zh-cn, duicontrolpanel-l10n-de
Description: Fake translations for duicontrolpanel
 Makes it easier to demo the "on the fly" language change

