#LabelBrightness {
        color: #FFFFFF;
        font: "Nokia Sans Cn" 16;
}

#LabelScreen {
        color: #FFFFFF;
        font: "Nokia Sans Cn" 16;
}

#LabelScreenLight {
        color: #FFFFFF;
        font: "Nokia Sans Cn" 16;
}

#ScreenToggleButton {
        preferredSize: 35 35;

        minsize: 35 35;
        maxsize: 35 35;

        normal-background-image: "Toggle-on" 0 0 0 0;
        pressed-background-image: "Toggle-off" 0 0 0 0;
}
