#SimpleLabel {
    color: #FFFFFF;
    font: font("Nokia Sans Cn", 16);
}

#AutomaticLabel {
    color: #FFFFFF;
    font: font("Nokia Sans Cn", 18);
}

#ToggleButton {
    normalBackground: "Toggle-on";
    pressedBackground: "Toggle-off";
}

#GraySeparator {
    lineWidth: 1;
    startColor: #505050;
    stopColor: #505050;
}
