#SimpleLabel {
    color: #FFFFFF;
    font: font("Nokia Sans Cn", 16);
}

#AutomaticLabel {
    color: #FFFFFF;
    font: font("Nokia Sans Cn", 20);
}

#ToggleButton {
    normal-background: "Toggle-on";
    pressed-background: "Toggle-off";
}

#GraySeparator {
    lineWidth: 1;
    startColor: #505050;
    stopColor: #505050;
}

#InputTextEdit {
    font: font("Nokia Sans Cn", 16);
}

#CountryLabel {
    font: font("Nokia Sans Cn", 18);
}

#GmtCityLabel {
    font: font("Nokia Sans Cn", 16);
}

#TimeZoneCheckMark {
    normal-background: "Check-mark";
}
