[Desktop Entry]
Type=DUIApplet
Name=Date & Time
Icon=
Exec=
X-logical-id=qtn_date_time_title
X-translation-catalog=duisettings

[DUI]
X-DUIApplet-Applet=libdatetimeapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_weather.png
X-DUIApplet-ImagePortrait=Widget_portrait_weather.png

[DCP]
Category= Regional settings
Order=0
WidgetType= DcpLabel2

