

.MonthWidget {
	view: MonthWidgetFullView;
}


DayLabelStyle {
    today-image: "icon-s-gps" 0 0 0 0;
    note-image: "note-indication" 0 0 0 0;
    highlight-image: "selection-visual-feedback" 0 0 0 0;
}



#SimpleLabel {
    color: #FFFFFF;
    font: "Nokia Sans Cn" 16;
}

#AutomaticLabel {
    color: #FFFFFF;
    font: "Nokia Sans Cn" 20;
}

#ToggleButton {
    normal-background-image: "Toggle-on" 0 0 0 0;
    pressed-background-image: "Toggle-off" 0 0 0 0;
    minimum-size: 48 48;
    maximum-size: 48 48;
}

#InputTextEdit {
    font: "Nokia Sans Cn" 16;
}

#CountryLabel {
    font: "Nokia Sans Cn" 18;
    margin-left: 16;
    color: #ffffff;
}

#CountryLabelSelected {
    font: "Nokia Sans Cn" 18;
    margin-left: 16;
    color: #e48415;
}

#GmtCityLabel {
    font: "Nokia Sans Cn" 16;
    margin-left: 16;
    margin-bottom: 10;
    color: #ffffff;
}

#GmtCityLabelSelected {
    font: "Nokia Sans Cn" 16;
    margin-left: 16;
    margin-bottom: 10;
    color: #e48415;
}

#TimeZoneCheckMark {
    normal-background-image: "Check-mark" 0 0 0 0;
    minimum-size: 32 32;
    maximum-size: 32 32;
    margin-right: 20;
}

#RegionFormatButton {
    maximum-size: 310 60;
    minimum-size: 310 60;
}

#DateViewLabel {
    font: "Nokia Sans Cn" 20;
}

#WeekViewLabel {
    font: "Nokia Sans Cn" 16;
}

#DayButton {
    normal-background-image: ;
    pressed-text-color: #E48415;
}

