

.MonthWidget {
	view: MonthWidgetFullView;
}


DayLabelStyle {
    today-image: "icon-s-gps" 0 0 0 0;
    note-image: "note-indication" 0 0 0 0;
    highlight-image: "selection-visual-feedback" 0 0 0 0;
}



#SimpleLabel {
    color: #FFFFFF;
    font: "Nokia Sans Cn" 16;
}

#AutomaticLabel {
    color: #FFFFFF;
    font: "Nokia Sans Cn" 20;
}

#ToggleButton {
    background-image: "Toggle-on" 0 0 0 0;
    minimum-size: 48 48;
    maximum-size: 48 48;
}

#ToggleButton:pressed {
    background-image: "Toggle-off" 0 0 0 0;
}

#InputTextEdit {
    font: "Nokia Sans Cn" 16;
}

#CountryLabel {
    font: "Nokia Sans Cn" 18;
    margin-left: 16;
    color: #ffffff;
}

#CountryLabelSelected {
    font: "Nokia Sans Cn" 18;
    margin-left: 16;
    color: #e48415;
}

#GmtCityLabel {
    font: "Nokia Sans Cn" 16;
    margin-left: 16;
    margin-bottom: 10;
    color: #ffffff;
}

#GmtCityLabelSelected {
    font: "Nokia Sans Cn" 16;
    margin-left: 16;
    margin-bottom: 10;
    color: #e48415;
}

#TimeZoneCheckMark {
    background-image: "Check-mark" 0 0 0 0;
    minimum-size: 32 32;
    maximum-size: 32 32;
    margin-right: 20;
}

#RegionFormatButton {
    maximum-size: 310 60;
    minimum-size: 310 60;
}

#DateViewLabel {
    font: "Nokia Sans Cn" 20;
}

#WeekViewLabel {
    font: "Nokia Sans Cn" 16;
}

#DayButton {
    background-image: ;
}

#DayButton:pressed {
    text-color: #E48415;
}





.DuiDeviceProfile 
{
    name: generic;
    width: 864;
    height: 480;
    ppi: 225;
}

.DuiScene 
{
    fpsRefreshInterval: 500;
    fpsBoxSize: 60 30;
    fpsTextColor: #FFFF00;
    fpsBackgroundColor: #000000;
    fpsBackgroundOpacity: 0.35;
    boundingRectLineColor: #00F000;
    boundingRectLineOpacity: 0.3;
    boundingRectFillColor: #00F000;
    boundingRectFillOpacity: 0.2;
}

.DuiButton 
{
	view: DuiButtonView;
	iconID: ;
	text: ;
}

AnalogClockStyle 
{
	clockdial: "clock-circle";
	hourhand: "hour-hand";
	minutehand: "minute-hand";	
	preferredsize: 200px 200px;
	minsize: 200px 200px;
	maxsize: 200px 200px;
}

AnalogClockStyle#LargeAnalogClock
{
	preferredsize: 200px 200px;
	minsize: 200px 200px;
	maxsize: 200px 200px;
}

AnalogClockStyle#SmallAnalogClock.Landscape
{
	preferredsize: 100 100;
	minsize: 100 100;
	maxsize: 100 100;
}

AnalogClockStyle#SmallAnalogClock.Portrait
{
	preferredsize: 75 75;
	minsize: 75 75;
	maxsize: 75 75;
}

SettingAlarmStyle
{
	alarm-hour: "alarm-hour";
	alarm-minute: "alarm-minute";
	alarm-clock-bg: "alarm-clock-bg";
	minsize: 408px 408px;
	preferredsize: 408px 408px;
	maxsize: 408px 408px;
}

WorldClockStyle{
	gradient1: #A9A9A9;
	gradient2: #000000;
}

WorldClockStyle#LargeDial
{
	preferredsize: 272 356;
	minsize: 272 356;
	maxsize: 272 356;
}

WorldClockStyle#SmallDial.Landscape
{
	preferredsize: 124 260;
	minsize: 124 260;
	maxsize: 124 260;
}

WorldClockStyle#SmallDial.Portrait
{
	preferredsize: 100 260;
	minsize: 100 260;
	maxsize: 100 260;
}

DuiLabelStyle#LargeClockDate
{
	font: "Nokia Sans" 20px;
	color: #FFFFFF;
}

DuiLabelStyle#SmallClockDate
{
	font: "Nokia Sans" 16px;
	color: #FFFFFF;
}

DuiLabelStyle#LargeClockTime
{
	font: "Nokia Sans" 20px;
	color: #FFFFFF;
}

DuiLabelStyle#SmallClockTime
{
	font: "Nokia Sans" 16px;
	color: #FFFFFF;
}

DuiLabelStyle#LargeClockCity
{
	font: "Nokia Sans" 22px;
	color: #FFFFFF;
}

DuiLabelStyle#SmallClockCity
{
	font: "Nokia Sans" 16px;
	color: #FFFFFF;
}

DuiLinearLayoutStyle#WorldClock
{
	padding: 6;
}

DuiButtonStyle#aeButtonBell{
    icon-size: 64px 64px;
	
    preferred-size: 64px 64px;
    minimum-size: 64px 64px;
    maximum-size: 64px 64px;
}

DuiTextEditStyle#aeAlarmTextEdit{
	color: #FFA000;
	font: "Nokia Sans" 28px;

	minsize: 356px 56px;
	preferredsize: 356px 56px;
	maxsize: 356px 56px;
}

DuiButtonStyle#aePushButton
{
	minimum-size: 432px 88px;
	preferred-size: 432px 88px;
	maximum-size: 432px 88px;

	background-image: Toggle-btn-normal;

	font: "Nokia Sans" 24px;

	cloud-duration: 0;
}

DuiButtonStyle#aePushButton:pressed {
	background-image: Toggle-btn-selected;
}

DuiLabelStyle#aeBigLabel{
	font: "Nokia Sans" 24;
}

DuiLabelStyle#aeSmallLabel{
	font: "Nokia Sans" 20;
}

AlarmStyle {
	big-bell: "big-bell";
	showTimeTo: true;
	showSmallBell: true;
    alarmtimefont: "sans" 8;
    alarmtimecolor: #000000;
    alarmtextfont: "sans" 12;
    alarmtextfont: #000000;
    timetocolor: #000000;
    timetofont: "sans" 12;
	
    bgcolor: #FFFFFF;
	bgcolorgradient1: #A9A9A9;
	bgcolorgradient2: #000000;
}

AlarmStyle#MainAlarm {
	minimum-size: 402px 198px;
	preferred-size: 402px 198px;
	maximum-size: 402px 198px;
}

AlarmStyle#BasicAlarm {
	minimum-size: 402px 98px;
	preferred-size: 402px 98px;
	maximum-size: 402px 98px;
}

DuiLabelStyle#MainAlarmTime{
    color: #FFA000;
	font: "Nokia Sans" 32;
}

DuiLabelStyle#MainAlarmText{
	font: "Nokia Sans" 22;
}

DuiLabelStyle#BasicAlarmTime{
    color: #FFA000;
	font: "Nokia Sans" 24;
}

DuiLabelStyle#BasicTimeTo{
    color: #FFFFFF;
	font: "Nokia Sans" 20;
}

DuiImageStyle#BigBell {
    leftMargin: 12;
    topMargin: 12;
    rightMargin: 12;
    bottomMargin: 12;
	margin: 12;
    backgroundColor: #000000;
    backgroundOpacity: 0;
}

DuiLinearLayout#MainAlarm.Landscape
{
	padding: 0;
	margin: 12;
}

DuiLinearLayout#MainAlarm.Portrait
{
	padding: 0;
	margin: 12;
}

DuiLinearLayout#BasicAlarm.Landscape
{
	padding: 0;
	margin: 12;
	preferredsize: 402 76;
}

DuiLinearLayout#BasicAlarm.Portrait
{
	padding: 0;
	margin: 12;
}

.DuiEditAlarmView{
size: 400px 400px;
}

