[Desktop Entry]
Type=DUIApplet
Name=Volume control
X-logical-id=
X-translation-catalog=duisettings
Icon=
Exec=

[DUI]
X-DUIApplet-Applet=
X-DUIApplet-ImageLandscape=Widget_landscape_weather.png
X-DUIApplet-ImagePortrait=Widget_portrait_weather.png

[DCP]
Category= Sound
Order= 2
WidgetType= DcpLabel2

