[Desktop Entry]
Type=DUIApplet
Name=Passcode
X-logical-id=qtn_sett_main_wallpaper
X-translation-catalog=duisettings
Icon=
Exec=

[DUI]
X-DUIApplet-Applet=libexampleapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_weather.png
X-DUIApplet-ImagePortrait=Widget_portrait_weather.png

[DCP]
Category= Device system
Order=1
WidgetType= DcpLabel2Image
Align= Left

Image= starfield_thumb

