[Desktop Entry]
Type=DUIApplet
Name=Backup/Restore
Icon=
Exec=
X-logical-id=qtn_sett_main_passcode                                         
X-translation-catalog=duisettings

[DUI]
X-DUIApplet-Applet=
X-DUIApplet-ImageLandscape=Widget_landscape_weather.png
X-DUIApplet-ImagePortrait=Widget_portrait_weather.png

[DCP]
Category= Device utilities
Order=1
WidgetType= DcpLabel2Button


