[Desktop Entry]
Type=DUIApplet
Name=About
X-logical-id=
X-translation-catalog=duisettings
Icon=
Exec=

[DUI]
X-DUIApplet-Applet=
X-DUIApplet-ImageLandscape=Widget_landscape_weather.png
X-DUIApplet-ImagePortrait=Widget_portrait_weather.png

[DCP]
Category= Device system
Order=4
WidgetType= DcpLabel2
Align= Left


