[Desktop Entry]
Type=DUIApplet
Name=Battery
X-logical-id=
X-translation-catalog=duisettings
Icon=
Exec=

[DUI]
X-DUIApplet-Applet=
X-DUIApplet-ImageLandscape=Widget_landscape_weather.png
X-DUIApplet-ImagePortrait=Widget_portrait_weather.png

[DCP]
Category= Device system
Order=0
WidgetType= DcpLabel2
Align= Left
Text2= Power save


