[Desktop Entry]
Type=DUIApplet
Name=Sound feedback
X-logical-id=
X-translation-catalog=duisettings
Icon=
Exec=

[DUI]
X-DUIApplet-Applet=
X-DUIApplet-ImageLandscape=Widget_landscape_weather.png
X-DUIApplet-ImagePortrait=Widget_portrait_weather.png

[DCP]
Category= Sound
Order=3
WidgetType= DcpLabel2Image
Align= Left

Image= starfield_thumb

