[Desktop Entry]
Type=DUIApplet
Name=Display
Icon=
Exec=
X-logical-id=qtn_sett_main_display
X-translation-catalog=duisettings

[DUI]
X-DUIApplet-Applet=libdisplayapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_weather.png
X-DUIApplet-ImagePortrait=Widget_portrait_weather.png

[DCP]
Category= Look & Feel
Order=1
WidgetType= DcpLabel2

