[Desktop Entry]
Type=DUIApplet
Name=SkelButton
X-logical-id=qtn_sett_main_display
X-translation-catalog=duicontrolpanel-skeletonapplet

[DUI]
X-DUIApplet-Applet=libdcpskelbuttonapplet.so

[DCP]
Category= Look & Feel
Order=4
WidgetType= Button

