#LanguageBigButton {
        view: DuiButtonView;
        text: Next;
        font: font("Nokia Sans Cn", 15);
        textColor: #FF0000;

        normalBackgroundName: "C2-container";
        pressedBackgroundName: "Toggle-btn-selected";
}

#ServicesButton {
        view: DuiButtonView;
        text: Next;
        font: font("Nokia Sans Cn", 15);
        textColor: #FFFFFF;

        normalBackgroundName: "C2-container";
        pressedBackgroundName: "Toggle-btn-selected";
}

#ServicesButtonLabel {
        color: #FFFFFF;
        font: font("Nokia Sans Cn", 18);
}

#LanguageLeftLabel {
        color: #FFFFFF;
        font: font("Nokia Sans Cn", 18);
}

#LanguageRightLabel {
        color: #FFA000;
        font: font("Nokia Sans Cn", 16);
}

#LanguageSimpleText {
        color: #FFFFFF;
        font: font("Nokia Sans Cn", 16);
}

#ServicesContainerCaption {
        color: #FFFFFF;
        font: font("Nokia Sans Cn", 20);
}

#ServicesContainerSignButton {
        preferredsize: size(40, 40);
        minsize: size(40, 40);
        maxsize: size(40, 40);
        
        normalBackgroundName: "See-more-indicator-big";
        pressedBackgroundName: "See-more-indicator-big";
}
