#LanguageButtonSeeMoreSmall {
        normalBackground: "See-more-indicator-small";
}

#LanguageLeftLabel {
        color: #FFFFFF;
        font: font("Nokia Sans Cn", 18);
}

#LanguageRightLabel {
        color: #FFA000;
        font: font("Nokia Sans Cn", 15);
}

#LanguageUpLabel {
        color: #FFFFFF;
        font: font("Nokia Sans Cn", 16);
}

#LanguageDownLabel {
        color: #FFFFFF;
        font: font("Nokia Sans Cn", 15);
}

#LanguageSimpleText {
        color: #FFFFFF;
        font: font("Nokia Sans Cn", 18);
}

#RegionFormatButton {
        view: DuiButtonView;
        font: font("Nokia Sans Cn", 18);
}

#ServicesButton {
        normalBackground: "C2-container";
        pressedBackground: "Toggle-btn-selected";
}

#ServicesButtonLabel {
        color: #FFFFFF;
        font: font("Nokia Sans Cn", 20);
}

#ServicesButtonSeeMoreSmall {
        normalBackground: "See-more-indicator-small";
}

#ServicesContainerCaption {
        color: #FFFFFF;
        font: font("Nokia Sans Cn", 20);
}

#ServicesContainerSignButton {
        normalBackground: "See-more-indicator-big";
}

#CommonDialogTitleLabel {
        color: #FFFFFF;
        font: font("Nokia Sans Cn", 18);
}

#GroupTitleLabel {
        color: #FFFFFF;
        font: font("Nokia Sans Cn", 16);
}

#LanguageNormalListItem {
        font: font("Nokia Sans Cn", 16);
}

#LanguageCheckMark {
        normalBackground: "Check-mark";
}

#RemoveButton {
        font: font("Nokia Sans Cn", 16);
        textColor: #FFFFFF;
        normalBackground: "Divider-with-label";
        horizBoxedEdgePercent: 30;
}

#GreySeparator {
        lineWidth: 1;
        startColor: #505050;
        endColor: #505050;
}
